<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docx</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
<center>
    <h1 style="color:blueviolet; font-weight: bold; font-family: cursive; font-size: 60px;">
        Down<span style="color:green; ">load </span> 
        <i class="fa-solid fa-file-word"></i>
    </h1>
    <form action="/docx" method="POST">
        <input value={{variable}} id="3" name="filename" type="hidden">
        <button class="btn" style="color: blue; font-weight: bold; font-size: 30px; border: black 2px dotted; border-radius: 14px;"><i class="fa fa-download" ></i>download your word file</button>
    </form>
</center>

</body>
</html>
