<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pdf to Doc</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
<center>
    <h1 style="font-family: cursive; color: magenta; font-weight: bold; font-size: 65px;">
        Up<span style="color:blue;">load </span><i class="fa-solid fa-file-pdf"></i>
    </h1>
    <form action="/index" method="POST" enctype="multipart/form-data">
       <input type="file" name="filename" style="color: red; font-weight: bold; font-size: 25px; ">
       <input type="submit" value="Upload from here" style="color: blue; font-weight: bold; font-size: 30px; border: black 2px dotted; border-radius: 14px;">
    </form>
</center>
</body>
</html>
